.navbar {
    background-image: linear-gradient(to bottom, black, #06d1af );
    border-bottom: 1px solid black;
    position: sticky;
    display: flex;
    justify-content: space-between;
    height: 120px;
    
    

  

}

.title {
   margin: 30px;
   padding: 10px;
   width: 600px;
   display: flex;
   justify-content: center;
   flex-direction: row-reverse;
   align-items: center;
   

   


   
}

.headertext{
    margin: 5px;
    font-family: 'Cormorant SC', serif;
    color: white;
    text-shadow: -1px 2px 2px #000,
    1px 2px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;

}

.Logo {
    padding: 10px;
    margin: 10PX;
    height: 80px;
    width: 80px;
    
    
}