.submit-button {
    width: 80px;
    padding: 5px;
    margin: 5px;
    
}
.submit-button button{
    border: 1px solid black;
    border-radius: 30px;
    height: 25px;
    width: 75px;
}

.add-song-container{
    padding: 10px;
    margin: 5px;
 
}

.input-container{
    padding: 5px;
    margin: 5px;
}